.modal .modal-content {
    padding: 20px;
    font-family: Ubuntu;
    color: #606060;
    font-size: large;
}

.modal .modal-content h4 {
    margin-bottom: 20px;
}

.modal .modal-footer {
    background-color: darkgray;
}

.modal .material-icons {
    color: #26a69a;
}

.input-field .prefix ~ label {
    font-size: 18px;
    font-family: Lato;
}